body {
    background-color: #F4F4F4;;
    font-family: Montserrat;
    color: #222222;
}

/* TYPOGRAPHY */
h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -1px;

    /* blue */
    color: #233B6E;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    /* or 125% */
    letter-spacing: -1px;

    color: #233B6E;
}
h4 {
    color: #233B6E;
        font-weight: bold;
} 

h5 {
    color: #233B6E;;
    font-weight: 600;
}
h6 {
    font-size: 14px;
    color: #415F9D;;

}
}
p {
    font-size: 16px;
    line-height: 28px;
    /* or 156% */

    /* Black */
    color: #616161;
    }
 

label {
    color: #233B6E;
    font-size: 14px;
}

input {
    font-family: Montserrat;
}
/* BUTTON */
.primary-btn {
    background-color: #233B6E;
    width: 152px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    /* or 171% */
    align-items: center;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    border-style: none;
    /* White */
    color: #FFFFFF;
}
.primary-btn:hover {
    background-color: rgb(48, 80, 150);
}
.secondary-btn {
    width: 152px;
    background-color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    /* or 171% */
    align-items: center;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    color: #233B6E;

    border: 1px solid #233B6E;
    box-sizing: border-box;
}
.secondary-btn:hover {
    background-color:rgb(48, 80, 150);
    color: white;
}
.large-btn {
    padding: 12px;
    font-size: 18px;
    width: 188px;
    height: 50px;
}
.med-btn {
    font-size: 14px;
    padding: 8px;
    width: 152px;
    height: 40px;
}

.right-btn {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 16px;
    margin-bottom: 16px;
}
.white-space {
    height: 100px;

}

/* PANEL & CARD */
.container-fluid {
    margin: 7% 8%;
}

.full-img {
    width: 100%;
}

.relawan-img {
    width: 75%;
}

.white-panel {
    padding: 32px 60px 36px 60px;
    height: 45vw;
    background: #FFFFFF;
    /* Shadow */
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
}

.register-panel {
    padding: 32px 60px 36px 60px;
    height: 45vw;
    background: #FFFFFF;
    /* Shadow */
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);  
    margin-right: 50%;
    margin-left: 25%;
}
.card {
    padding: 16px;
    border-style: hidden;
    background-color: white;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
}
.role:hover {
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2); 
    border: 1px solid #233B6E;
    
}

.card2 {
    padding: 16px;
    height: 330px;
    border-style: hidden;
    background-color: white;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #233B6E;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  width: 359px;
}

.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #233B6E;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 4px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* FOOTER */
footer {
    position: relative;
    bottom: 0;
    z-index: 2;

}
.tab {
    transform: scale(0,0);
    height: 0;
    transition: all 0.3333s ease-in;
}
