nav {
    /* position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%; */

    background: rgb(255, 255, 255);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 8%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: +2;
    background: rgb(255, 255, 255);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  }
  li {
    float: right;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    min-width: 100px;
    color: #415F9D;
  }
  
  li a:hover:not(.active) {
    background-color: #EFEFEF;
    text-decoration: none;
    font-weight: bold;
  }
  
  .active {
    background-color: #4CAF50;
  }