.sidenav {
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#D3D6DB;
    overflow-x: hidden;
    padding-top: 100px;
    padding-left: 36px;
    padding-right: 36px;
  }

  .sidenav a {
    padding: 10px 8px 10px 36px;
    margin-left: -36px;
    margin-right: -36px;

    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-size: 18px;
    color:#233B6E;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background-color:#415F9D;
    font-weight: bold;
  }

  .line-divider {
    border: 1px solid #828282;
    width: 200px;
  }

  .tukar-poin {
      font-size:12px;
      padding: 12px;
      width: 100%;
  }

  .flex {
      display: flex;
      align-items: flex-start;
  }
  .flex > div {
      margin-bottom: 20px;
  }

  .search {
    position: absolute;
    right:0;
    background-color: white;
    border-style: none;
    border-radius: 50px;
    padding: 5px 5px 5px 15px;
    text-decoration: none;
    margin-right: 10px;
}